body{
    display: flex;
    align-items: center;
    flex-direction: column;
    font-size: 18px;
}
#sliderContainer {
    width: 500px; /* Width of the outside container */
    height: 40px;
    display: flex;
    justify-content: center;
    gap: 20px;
    align-items: center;
    margin-bottom: 15px;
  }
.slider {
    -webkit-appearance: none;  /* Override default CSS styles */
    appearance: none;
    width: 300px; /* Full-width */
    height: 25px; /* Specified height */
    background: #d3d3d3; /* Grey background */
    outline: none; /* Remove outline */
    opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
    -webkit-transition: .2s; /* 0.2 seconds transition on hover */
    transition: opacity .2s;
    border-radius: 10px;
  }
  .slider:hover {
    opacity: 1; /* Fully shown on mouse-over */
  }
  .slider::-webkit-slider-thumb {
    -webkit-appearance: none; /* Override default look */
    appearance: none;
    width: 25px; /* Set a specific slider handle width */
    height: 25px; /* Slider handle height */
    background: black; /* Green background */
    cursor: pointer; /* Cursor on hover */
  }
button{
    padding: 5px 15px;
    text-align: center;
    font-size: 18px;
    border: 4px dashed gray;
    transition: all 0.5s;
    border-radius: 10px;
}
button:hover{
    color: rgb(86, 81, 81);
    transform: scale(1.1);
}
#squares{
    width: 600px;
    height: 600px;
    display: flex;
    border: 10px solid gray;
    
}


#squares div{
    padding:  0;
    flex: auto;
}

#row {
    display: flex;
    flex-direction: column;
}

#row div{
    flex: auto;
}

.colored {
    background-color: black;
}

#options{
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 50px;
    width: 200px;
}

.middle{
    display: flex;
    width: 1200px;
    gap: 100px;
    
}

.selected{
    transform: scale(1.1);
    border-color: rgb(210, 210, 194);
    background-color:rgb(87, 87, 155);
}